# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. Some of the popular languages that Data Scientists use are
2. Some of the commonly used libraries used by Data Scientists include
3. Data Science Tools

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Data Science Tools
1. Hadoop
2. Apache spark
3. Anaconda Navicator

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Χρίστος Κωνσταντίνου